<html>
<head>
<title>Ali İNCE Django Web Blog Denemesi</title>
</head>
<body>
<div>
	<div><h2>Post Listesi</h2></div>
	
      <div>
      	<ul>
      	  {% for post in posts %}
      		<li>{{post}}</li>
          {% endfor %}
        </ul>
      </div>   
</div>
--------------------------------------------------------------------

{% for post in posts %}
    <div>
        <p>published: {{ post.yayinlanma_tarihi }}</p>
        <h1><a href="">{{ post.baslik }}</a></h1>
        <p>{{ post.yazi|linebreaks }}</p>
    </div>
{% endfor %}
</body>
</html>